@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Lato, sans-serif;
  background-color: #fff7d0;
  color: #472d20;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

.header-logo {
  display: none;
}

.header-social {
  display: none;
}

header {
  background-color: #472d20;
  color: #fff7d0;
  display: block;
  margin: 0;
  padding: 1rem 0;
}

header h1 {
  display: block;
  font-family: Calistoga, cursive;
  text-align: center;
  font-size: 2rem;
  margin: 0 0 .5rem;
}

.home-btn {
  text-decoration: none;
  color: #fff7d0;
}

header nav {
  display: block;
}

header nav ol {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

header nav li {
  list-style-type: none;
  display: inline-block;
  padding: .75rem 0;
}

header nav a {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  color: #fff7d0;
  border-radius: 10px;
  padding: .5rem;
}

header nav a:hover {
  background-color: #ec7f39;
}

.banner1 {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  text-align: right;
}

.banner1-text {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -70%);
  text-align: right;
  border-radius: 50px 0;
  border-color: #fff7d0;
  color: #fff7d0;
  border-style: double;
  padding: 1.125rem;
  background-color: rgba(71, 45, 32, .8);
  text-decoration: none;
}

.banner1-text h2 {
  font-size: 1.125rem;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.banner1-text:hover {
  background-color: rgba(236, 127, 57, .8);
}

.products {
  display: flex;
  margin: 0 auto;
}

.products ol {
  list-style-type: none;
  margin: 2rem auto;
  padding: 0;
  display: block;
  text-align: center;
}

.products li {
  padding: 1rem 0;
  position: relative;
}

.img-products {
  width: 250px;
  text-align: center;
}

.product-a {
  font-family: Calistoga, cursive;
  font-size: 1.125rem;
  margin: .5rem auto;
  text-align: center;
  text-decoration: none;
  color: #472d20;
  background-color: rgba(255, 247, 208, .8);
  padding: 1rem 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.product-a:hover {
  background-color: rgba(236, 127, 57, .8);
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  max-height: 500px;
}

.gallery:nth-child(2), .gallery:nth-child(3), .gallery:nth-child(4) {
  display: none;
}

.blogposts {
  padding: 1rem;
}

.blogposts h3 {
  font-family: Calistoga, cursive;
  margin-bottom: .5rem;
}

.blogposts h4 {
  margin: 0;
}

.blogposts p {
  display: none;
}

.blogposts a {
  font-family: Calistoga, cursive;
  font-size: 1.125rem;
  text-decoration: none;
  color: #472d20;
}

.blogposts a:hover {
  color: #ec7f39;
}

.blogposts img {
  display: none;
}

.banner2 {
  position: relative;
  max-height: 600px;
  overflow: hidden;
  text-align: right;
}

.banner2-text {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  text-align: center;
  padding: 1.125rem;
  width: 100%;
}

.banner2-text h2 {
  font-size: 1.125rem;
  font-family: Calistoga, cursive;
  font-style: normal;
  color: #fff7d0;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.banner2-text p {
  padding: 0;
  margin: 0;
  color: #fff7d0;
}

footer {
  background-color: #472d20;
  color: #fff7d0;
  padding: 2rem;
}

footer h2 {
  font-family: Calistoga, cursive;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

footer nav {
  display: none;
}

.footer-logo {
  padding: 1rem;
}

.ft-logo-div {
  display: inline-block;
  width: 50%;
}

.contact {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
}

.contact li {
  width: 100%;
}

.contact ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.locations {
  text-align: center;
  margin: 0 auto;
}

.locations ol {
  list-style-type: none;
  padding: 0;
}

.locations a {
  text-decoration: none;
  color: #fff7d0;
  padding: 0;
}

.locations a:hover {
  color: #ec7f39;
}

.footer-social {
  list-style-type: none;
  padding: 0;
  margin: .5rem 0;
  text-align: center;
}

.footer-social li {
  display: inline;
  padding: .5rem;
}

.footer-social img {
  width: 50px;
}

.copyright {
  display: block;
  text-align: center;
  width: 100%;
  padding: .5rem 0;
}

.copyright-div {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  h2,
  p {
    margin: 0 0 1.3rem;
  }

  .product a {
    width: 250px;
    font-size: 1.3rem;
  }

  header h1 {
    font-size: 2.3rem;
  }

  header nav ol {
    font-size: 1.3rem;
  }

  .banner1-text h2 {
    font-size: 1.3rem;
  }

  .blogposts a {
    font-size: 1.3rem;
  }

  .blogposts {
    padding: 2rem;
  }

  .banner2-text h2 {
    font-size: 1.3rem;
  }

  .footer-logo {
    padding-right: 2rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  h2,
  p {
    margin: 0 0 1.4rem;
  }

  header h1 {
    font-size: 2.4rem;
    display: flex;
    padding: 0 .25rem 0 1rem;
    margin: 0;
  }

  header nav ol {
    font-size: 1.4rem;
  }

  .banner1-text h2 {
    font-size: 1.8rem;
  }

  .blogposts a {
    font-size: 1.4rem;
  }

  .banner2-text {
    top: 93%;
  }

  .banner2-text h2 {
    font-size: 2.2rem;
  }

  .banner2-text p {
    font-size: 1.3rem;
  }

  .header-logo {
    display: none;
  }

  header {
    position: relative;
  }

  header nav {
    display: flex;
    margin: .5rem 0 0;
  }

  header nav a {
    padding: .25rem .5rem;
  }

  header nav li {
    padding: 0 .25rem 0 1rem;
  }

  .header-social {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: .5rem 0;
    position: absolute;
    left: 70%;
    top: 0;
  }

  .header-social li {
    display: inline;
    padding: .5rem;
  }

  .header-social img {
    width: 40px;
  }

  .product-a {
    width: 175px;
  }

  .products ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .img-products {
    width: 175px;
    margin: 0 .75rem;
  }

  .gallery:nth-child(2), .gallery:nth-child(3) {
    display: flex;
    width: 50%;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 33.3333%;
    padding-bottom: 1rem;
  }

  .ft-logo-div {
    order: 2;
    width: 20%;
  }

  .contact {
    order: 1;
    width: 40%;
    text-align: center;
  }

  .contact ul {
    text-align: center;
  }

  .locations {
    order: 3;
    width: 40%;
  }

  .blogposts img {
    display: inline-block;
    width: 250px;
  }

  .bp-img-left {
    padding-right: 1rem;
  }

  .bp-img-right {
    padding-left: 1rem;
  }

  .bp-list {
    display: inline-flex;
    padding: 1.5rem 0;
  }

  .blogposts h4 {
    margin: 0;
  }

  .footer-logo {
    padding: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .header-social {
    left: 80%;
  }

  .banner2-img-mh {
    max-height: 600px;
  }

  .banner1-text {
    left: 75%;
  }

  .img-products {
    width: 250px;
  }

  .product-a {
    width: 250px;
  }

  .gallery:nth-child(1), .gallery:nth-child(2), .gallery:nth-child(3), .gallery:nth-child(4) {
    width: 50%;
    display: block;
  }

  .blogposts img {
    width: 350px;
  }

  .blogposts p {
    display: inline-block;
    font-size: .75rem;
    margin: 0;
  }

  .blogposts h3 {
    margin: 0;
  }

  footer nav {
    display: inline;
  }

  footer ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  footer nav a {
    color: #fff7d0;
    text-decoration: none;
  }

  .ft-logo-div {
    width: 20%;
    order: 3;
  }

  .contact {
    width: 26.6667%;
    order: 2;
  }

  .locations {
    width: 26.6667%;
    order: 4;
  }

  .footer-nav-div {
    width: 26.6667%;
    padding: 0 2rem;
    order: 1;
    text-align: center;
  }

  .footer-nav-div li {
    margin: .5rem 0;
    background-color: #ec7f39;
    border-radius: 8px;
    padding: 0 1rem;
  }

  .footer-logo {
    padding: 1rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  header {
    padding: 2rem 2rem 1rem;
  }

  .header-logo {
    display: inline-block;
    width: 100px;
    vertical-align: baseline;
  }

  header h1 {
    display: inline;
    font-size: 3rem;
    padding: 0;
  }

  .header-social {
    left: 85%;
  }

  header nav {
    display: inline;
  }

  header nav ol {
    display: inline;
    padding-top: .5rem;
    position: absolute;
    left: 55%;
    top: 50%;
  }

  .img-products {
    width: 350px;
  }

  .products ol {
    padding: 2rem;
  }

  .product-a {
    width: 350px;
  }

  .gallery:nth-child(1), .gallery:nth-child(2), .gallery:nth-child(3), .gallery:nth-child(4) {
    width: 25%;
  }

  .blogposts {
    padding: 2rem 9rem;
  }

  .blogposts h4 {
    padding-bottom: .5rem;
  }

  .bp-img-left {
    padding-right: 2rem;
  }

  .bp-img-right {
    padding-left: 2rem;
  }

  .blogposts img {
    width: 450px;
  }

  footer {
    padding: 2rem 8rem 0;
  }

  .footer-logo {
    padding: 0;
  }

  .ft-logo-div {
    order: 4;
  }

  .contact {
    order: 2;
    text-align: left;
    padding-left: 3rem;
  }

  .contact li {
    text-align: left;
  }

  .locations {
    order: 3;
    text-align: left;
  }

  .footer-nav-div {
    order: 1;
  }

}
